.button{
    padding: 20px 35px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #35B8BE;
    border-radius: 6px;
    border: none;
    transition: 0.3s;
    &:hover{
        opacity: 0.8;
    }
    &:active{
        opacity: 0.4;
    }
}
